# ASSIGNMENT-2

# Q1. How do you comment code in Python? What are the different types of comments?

# Ans 

-> For single line comment we use ' # ' in front of line , python read as a commnent.
   Example :

In [1]:
# this code is for printing the even numbers in a list .

l1=[32,56,33,46,89,2,71,11]
l2 =[]
for x in l1:         # here we are using loop to perform action in all elements of list.
    if x%2==0:
        l2.append(x) # adding all even elements in new empmty list
print(l2)            # printing list that contains even elements

[32, 56, 46, 2]

-> Types of Comments

    There are thre type of comments .
    1. Single line comments : we just use ' # ' in front of line .
    2. Multi Line comments : here in front of every line we use ' # '
    3. python dicstrings : here any thing written under '''    '''' or """   """ . It is only use in first          line .

# Q2. What are variables in Python? How do you declare and assign values to variables?

# Ans 

->  Where data is represented by single value is known as Variable . There are certain rules we have to         follow like :- 
    1. start with letter or underscore . 
    2. cannot start with a number .
    3. and they are case sensitive .

-> for assigning a variable have to write name and use ' = ' to the data 
    
    Example:
            a = 2
            b = 2.5
            c = " pwskills " 

-> in python when we assign value/data to variable at that only it is declared .  

-> for calling the variable we can use print or just writr variable name .

# Q3. How do you convert one data type to another in Python?

# Ans

 -> suppose we have to convert int datatype to string and float datatype :
     
     Example

In [1]:
a = 2
b = str(2)
c = float(2)
print(a , type(a))
print(b , type(b))
print(c , type(c))

2 <class 'int'>
2 <class 'str'>
2.0 <class 'float'>

 -> we can also convert list datatype to tuple and set , but not in dict datatype for that we have to use       loop .

In [2]:
x = [2,4]
y = tuple(x)
z = set(x)

print(y,type(y))
print(z,type(z))

(2, 4) <class 'tuple'>
{2, 4} <class 'set'>

# Q4. How do you write and execute a Python script from the command line?

# Ans 

-> In cmd we have just write python and press enter we are ready to use python script in cmd 
    
    Example

# Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

# Ans

In [3]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

# Q6. What is a complex number in mathematics, and how is it represented in Python?

# Ans

-When we use iota(i) with any numeric it becames a complex number . In which real asnd imaginary parts are     present 

-In python we denote it by ' j ' 

    Example :
            3 + 5j

In [5]:
x = 3
y = complex(x)
print(y,type(y))

(3+0j) <class 'complex'>

# Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

# Ans

In [6]:
age = 25 # 25 value is assign to variable age and declaring also. 
age      # calling a variable

25

# Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

# Ans

In [7]:
price = 9.99
print("data type for price",type(price))

data type for price <class 'float'>

# Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [13]:
name = " Akash Tyagi "
print("my full name is:", name )

my full name is:  Akash Tyagi

# Q10. Given the string "Hello, World!", extract the substring "World".

# Ans

In [15]:
s = "Hello,World"
s[6:]

'World'

# Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

# Ans

In [20]:
is_student = bool(0)
print("are u a student =",is_student , " and datatype is " , type(is_student))

are u a student = False  and datatype is  <class 'bool'>